body {
	margin: 0;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	background: #123;
	background: -moz-linear-gradient(left, #345 0%, #123 100%);
	background: -webkit-linear-gradient(left, #345 0%, #123 100%);
	background: linear-gradient(to right, #345 0%, #123 100%);
}

.container {
	padding: 0 1rem;
	max-width: 700px;
	margin: 0 auto;
}

.title {
	margin-top: 10vh;
	padding-bottom: .25em;
	border-bottom: 1px solid #555;
}

.gap {
	margin-bottom: 10vh;
}

.center {
	text-align: center;
}

.demo-image {
	background: #000;
}

.demo-image img {
	display: inline-block;
	vertical-align: top;
	max-width: 100%;
	height: auto;
}

.fade-in {
	opacity: 0;
}

.fade-in[data-zzload-is-loaded] {
	opacity: 1;
	transition: opacity .6s ease .2s;
}
